# Shared 
DATABASE_USER=
DATABASE_NAME=
BASE_RPC_URL=
BASE_CONTRACT=
FEDERATION_SYNC_ADDRESS=
STACKS_CONTRACT_ADDRESS=
STACKS_NETWORK=

# Node 1
DATABASE_PASSWORD_1=
BASE_RELAYER_PK_1=
STACKS_PRIVATE_KEY_1=

#  Node 2
DATABASE_PASSWORD_2=
BASE_RELAYER_PK_2=
STACKS_PRIVATE_KEY_2=

# Node 3 
DATABASE_PASSWORD_3=
BASE_RELAYER_PK_3=
STACKS_PRIVATE_KEY_3=